@import url("https://fonts.googleapis.com?family=Oswald");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  align-items: center;
  text-align: center;
  margin: 2rem;
  overflow: hidden;
}
h3 {
  margin: 10px;
}
.fa-heart {
  color: red;
}
small {
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
#counter {
  font-weight: bold;
}
#double-click {
  background: url("https://images.unsplash.com/photo-1504215680853-026ed2a45def?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80")
    no-repeat center center/cover;
  height: 400px;
  width: 300px;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#double-click .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}
@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
